.calendarBalanceBox {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 30px;
}

.reportHeaderBalance {
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .calendarBalanceBox {
    flex-direction: row;
    margin-bottom: 0px;
  }
  .reportHeaderBalance {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .reportHeaderBalance {
    margin-bottom: 30px;
  }
}
