.GoToReportsLink {
  /* display: block; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #52555f;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.GoToReportsLink:hover {
  color: #ff751d;
}

@media screen and (min-width: 768px) {
  .GoToReportsLink {
    display: flex;
    margin-left: 111px;
  }
}
.iconReport {
  width: 24px;
  height: 24px;
  margin-left: 15px;
}
.divToReports {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .divToReports {
    margin-bottom: 0px;
  }
}
