.top {
  width: 100%;
  height: 340px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 100px;

  background: url(../../images/mainImg/down.svg) bottom 50% right -15% no-repeat;
  background-size: 83px;
  background-color: #f5f6fb;
}

.topAuth {
  width: 100%;
  height: 340px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 100px;

  background-size: 83px;
  background-color: #f5f6fb;
}
.bottom {
  background: url(../../images/mainImg/rightTop.svg) bottom 15px left 35px
    no-repeat;
  width: 100%;
  height: 100px;
}

.bottomAuth {
  background: url(../../images/mainImg/rightTop.svg) bottom 15px right 35px
    no-repeat;
}

@media screen and (min-width: 768px) {
  .top {
    background: url(../../images/mainImg/Group\ 37.svg) top 30px left 5px
      repeat-x;
    background-color: #f5f6fb;
    height: 580px;
    box-shadow: none;
  }
  .topAuth {
  }
  .bottom {
    background: url(../../images/mainImg/two.svg) bottom 65px left 103px
      no-repeat;
    height: 200px;
  }

  .bottomAuth {
    background: url(../../images/mainImg/two.svg) bottom 65px right 90px
      no-repeat;
    height: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .top {
    height: 580px;
  }
  .topAuth {
    height: 580px;

    background-size: 83px;
    background-color: #f5f6fb;
  }
  .bottomAuth {
    background: url(../../images/mainImg/Group\ 37.svg) top 10px left 5px
      repeat-x;
  }
}
