.authForm {
  background-color: rgba(206, 214, 221, 0.664); /* delete */
  width: 436px;
  height: 535px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  padding: 50px 85px 53px 85px;
}

.inputForm {
  background: #f6f7fb;
  border-radius: 30px;
  width: 265px;
  height: 52px;
  border-color: transparent;
  padding-left: 20px;
  margin-top: 10px;
}

.inputForm::placeholder {
  color: #a6abb9;
}

.inputTitle {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}

.inputTitleStar {
  color: #eb5757;
}

.inputBtn {
  background: #f5f6fb;
  border-radius: 16px;
  width: 125px;
  height: 44px;
  border-color: transparent;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  font-weight: bold;
}

.inputBtn:hover,
.inputBtn:focus {
  background: #ff751d;
  filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
  color: #ffffff;
}

.inputBtn:not(:last-child) {
  margin-right: 15px;
}

.inputInfo {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;

  color: #52555f;
}
