.container {
  background-color: var(--white-color);
  border-radius: 40px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
  padding: 20px 0px 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  min-height: 196px;
}
@media screen and (max-width: 767px) {
  .container {
    background-color: transparent;
    border-radius: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 20px 0px 0px;
    border-bottom: 1px solid var(--grey-border-color);
  }
}
.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0;
}
.item {
  position: relative;
  z-index: 100;
  display: block;
  width: 84px;
  margin-right: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}
.item:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  .item {
    margin-right: 0px;
    margin-bottom: 0px;
    border-top: 1px solid var(--grey-border-color);
    border-bottom: 1px solid var(--grey-border-color);
    padding-top: 20px;
    padding-bottom: 20px;
    width: calc((100%-30) / 3);
  }
  .item:nth-child(-n + 3) {
    border-top: none;
  }
}

.sum {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  /* text-transform: uppercase; */
}
.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  /* width: 60px; */
  width: 100%;
  margin-bottom: 5px;
  transition: fill var(--transition-timing) var(--transition-function);
}
.svg_active {
  composes: svg;
  fill: var(--accent-color);
}
.backForSvg {
  position: absolute;
  width: 60px;
  height: 46px;
  border-radius: 20px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #f5f6fb;
  transition: background-color var(--transition-timing)
    var(--transition-function);
}
.backforsvg_active {
  composes: backForSvg;
  background-color: var(--secondary-accent-color);
}
.item:hover .svg {
  fill: var(--accent-color);
}
.item:hover .backForSvg {
  background-color: var(--secondary-accent-color);
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.transaction_title {
  margin-right: 15px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.switch_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.spanArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 20px;
  margin: 0;
  padding: 0;
}
.no_data {
  text-align: center;
}
