.header {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
}

.navDiv {
  display: flex;
  background-color: rgb(119, 108, 108);
  height: 56px;
  justify-content: space-between;
  align-items: center;
  padding-left: 26px;
  padding-right: 44px;
}

.userDiv {
  display: flex;
}

.exitButton {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #52555f;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.userName {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #52555f;
  border: none;
  background-color: transparent;
}

.span {
  border-right: 1px solid #e0e5eb;
  margin-left: 20px;
  margin-right: 20px;
}
