.sectionHomePage {
  padding-top: 30px;
  padding-bottom: 184px;
}

.containerBalanceGoReports {
  display: flex;
  flex-direction: column-reverse;

  padding-left: 16px;
  padding-right: 16px;
}

/* .containerTabsFormTableSummary {
  margin-bottom: 40px;
} */

.containerTabsList {
  display: flex;
  margin: 0;
  padding: 0;

  position: fixed;
  bottom: 0;

  text-decoration: none;
}
/* Кнопка навигации - вкладки таблицы Tab  */
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 40px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fafbfd;
}

.tab_left {
  margin-right: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 40px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: #fafbfd;
}

.active {
  color: #ff751d;
  /* background-color: black; */
  /* border: 2px solid black; */
}

.containerFormTableSummary {
  padding: 30px;
  padding-bottom: 40px;
  padding: 0;
}

/* .bodyTable320 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 54px auto 59px;
} */

/* .summaryTab {
  display: none;
} */

.containerTableSummary {
  display: flex;
  justify-content: space-between;
}

.summary {
  display: none;
}

.link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .sectionHomePage {
    padding-top: 40px;
    padding-bottom: 64px;
  }

  .containerBalanceGoReports {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 31px;
    margin-bottom: 58px;
  }

  .containerTabsList {
    position: static;
  }

  .tab {
    border-radius: 20px 20px 0 0;
  }

  .containerFormTableSummary {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 28px;

    background-color: white;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }

  .containerTableSummary {
    margin: 0 30px 0 30px;
  }
}

@media screen and (min-width: 1280px) {
  .sectionHomePage {
    padding-bottom: 83px;
  }

  .containerBalanceGoReports {
    margin-bottom: 9px;
    padding-left: 332px;
  }

  .containerFormTableSummary {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 33px;
    padding-bottom: 61px;
  }

  .containerTableSummary {
    margin: 0;
  }

  .summary {
    display: block;
    margin-left: 30px;
    margin-right: 20px;
  }
}
